<blockquote class="blockquote text-center">
  <p>“Ordinary people think merely of spending time, great people think of using it.” </p>
  <footer class="blockquote-footer">Arthur Schopenhauer</footer>
</blockquote>